<div class="well span8">
  <%= form_for @user do |f| %>
    <div class="control-group">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div class="control-group">
      <%= f.label :password %>
      <%= f.text_field :password, type: "password"%>
    </div>
    <%= f.submit (@user.new_record? ? 'Reigster' : 'Update'), class: "btn btn-primary" %>
  <% end %>
</div>