<%= render 'shared/content_title', title: 'New Category' %>

<%= render 'shared/errors', obj: @category %>

<div class="well span8">
  <%= form_for @category do |f| %>
    <div class="control-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%= f.submit 'Create' %>
  <% end %>
</div>